p.text{
    text-align: center;
}
#wl{
	width:200px;height:75px;
}
#wl:focus{
	width:400px;height:150px;
}
#his{
	width:200px;height:200px;
}

#pic{
	width:150px;height:200px;
}
#pic:focus{
	width:250px;height:300px;
}
div.info{
	padding:2%;
}
td.expand{
	cursor:hand;
}
.listEx{
	padding-right:2em;
	display:block;
	float:left;
}
.wow{
	width:100%;
}
td.warning{
	color:red;
}

.tab{
	width:100%;
	text-align:center;
	font-size: 20px;
	border-collapse: collapse;
}
.tab thead{
	font-size: 20px;
	background-color: #f0f9ff;
	border-bottom: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 0 0 #000000 inset;
	white-space: normal;
	line-height: 50px;
	
}

.tab th{
	    border: 1px solid rgb(150, 196, 234);
}
.tab td{
	    border-bottom: 1px dotted rgb(150, 196, 234);
}
#download{
	width:30%;height:30%;
}
a.fancybox img {
        border: none;
        box-shadow: 0 1px 7px rgba(0,0,0,0.6);
    } 
tr.expanded{
	width:90%;
	text-align: center;
	height: auto;
	padding:2%;
}
.score{
	width: 10%;
	display:block;
	float:left;
    font-size:14px;
}
.disegno{
	height:1%;
	margin-top: 17px;
	margin-left:2%;
	border: 1px solid;
	float:left;
	display: block;
}
.quad{
	border: solid 2px;
	border-color:rgb(209,0,0);
	height:10%;
}
.motif{
	text-align: left;
	float: left;
	width: 40%;
	font-family: monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	display: block;
}
.scarica{
	padding:0.5%;
	background-color: #2387ba;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 20px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
}
.refresh{
	text-align:center;
	font-size: 14px;
	color:#ED1313;
	margin-bottom: 1%;
}
ul {
 list-style-type:none
}
